@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,
body {
    font-family: Poppins, serif;
    background: linear-gradient(90deg, #56c0f5 0%, #ffffff 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: rgb(154, 203, 243)
}

.navbar-nav .nav-link.active {
    color: rgb(194, 199, 197);
}

.navbar-brand img {
    width: 40px;

}

.navbar {
    background-color: rgb(34, 34, 34);
}

.navbar-toggler {
    background-color: rgb(108, 110, 110);
}

.carousel-inner {
    margin-top: 30px;
}

.main-information {
    font-size: 17px;
    overflow: hidden;
    margin: 0 auto;
}

.images-main {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.sidebar {
    margin-left: 100px;
}

.sidebar {
    position: fixed;
    text-decoration: none;
    color: black;
}

.sidebar ul {
    list-style: circle;
    padding: 0%;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: block;
}

.sidebar a:hover {
    color: rgb(110, 181, 240)
}

.sidebar a.active {
    color: rgb(110, 181, 240);
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

.card a {
    text-decoration: none;
}

.card-title a {
    color: black;
}

.card-text a {
    color: black;
}

.btn {
    align-self: flex-start;
    margin-top: auto;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}


h4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.t-color,
.footer-text {
    color: rgb(108, 110, 110);
    margin: auto auto;
}

footer {
    background-color: rgb(34, 34, 34);
    margin-top: auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        margin-right: 1em;
    }

}

@media (max-width: 1440px) {
    .sidebar {
        font-size: 14px;
        margin-inline-start: auto;
        margin-left: 0.7em;
    }
}